/* CONFIGURATION GENERALE */

body{
    font-family: 'Raleway', sans-serif;
}

/* MENU DE NAVIGATION */

header nav{
    background-color: #f76d6d;
}

header .navbar-toggler{
    border-color:white;
}

header .nav-link{
    color:white;
    border-right: 2px solid white;
    padding:0;
}

header .nav-link:last-child{
    border-right: none;
}

header .navbar-nav{
    margin:auto 2vw auto auto;
}

header .navbar-text{
    color:white;
    margin:0 2vw 0 1vw;
}

header .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 30px;
}

header .navbar-collapse{
    position:relative;
}

/* ICONES SOCIALES */
header .container-icon{
    bottom:1vh;
    right:0;
    position:absolute;
}

header .container-icon ion-icon{
    color:white;
    width:30px;
    height:30px;
    margin:auto 5px;
}

header .container-icon ion-icon:hover{
    color:#272525;
}

header .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MEDIA QUERIES MENU DE NAVIGATION */
@media screen and (max-width:991px){
    header .nav-link{
        padding: .5rem 1rem;
        border:none;
    }

    header .navbar-text{
        display:none;
    }

    header .navbar-collapse{
        padding-bottom: 10vh;
    }

    header .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 992px){
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1vw;
        padding-left: 1vw;
        }

    header .container-icon{
            display:none;
        }

    header .navbar-nav .nav-link:hover:first-child {
        border-radius:10px 0 0 10px;
    }

    header .navbar-nav .nav-link:hover:last-child {
        border-radius:0 10px 10px 0;
    }
}
/* SECTION CARDS */

#cards .row{
    justify-content: space-around;
    flex-wrap: wrap;
}

#cards h1{

    text-align: center;
}

#cards .card {
    max-width: 300px;
    min-width: 299px;
}

#cards .card-body ion-icon{
    font-size: 250%;
    color: black;
}

/* SECTION FORMATEUR */
/* --- FENETRE MODALE FORMATEUR --- */

#formation{
    text-align:center;
    padding-top:2vh;
    padding-bottom:20vh;
    margin-top:77px;
}

#formation h1{
    padding:2vh 0;
}

#formation h1::after{
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 15rem; 
    height: 1px; 
    background:gainsboro;
    margin-left:2vw;
}

#formation h1::before{
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 15rem; 
    height: 1px; 
    background:gainsboro;
    margin-right:2vw;
}

#formation .card-deck-test{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

#formation .card-deck-test .card{
    margin:2vh auto 2vh auto;
}


#formation .card .card-text{
    color:gray;
    font-size:10pt;
}

#formation .card ion-icon{
    color:#272525;
    height:20px;
    width:20px;
}

#formation .card ion-icon:hover{
    color:#f76d6d;
    transition-duration: 0.3s;
}

#formation .card:hover{
    box-shadow:0px 0px 10px 0px gray;
    transition-duration: 0.3s;
}

/* --------------- FENETRE MODAL FORMATEUR ------------- */

#formation .modal-content{
    padding:30px;
}

@media screen and (min-width: 576px){
    #formation .modal-dialog {
        max-width: 80%;
    }
}

/* ------------- CARD PRESENTATION FORMATION ---------------- */

#formation .presentationFormation{
    text-align:left;
}

#formation .presentationFormation .card-title{
    font-size:23pt;
}

#formation .presentationFormation .text-muted{
    font-weight:lighter;
}

#formation .presentationFormation a{
    color: #f76d6d;
    text-decoration:none;
}

#formation .presentationFormation a:hover{
    background-color:#f76d6d;
    color:white;
    transition-duration:0.3s;
}

#formation .card .card-text {
    color:#272525;
    font-size: 12pt;
}


/* ------- SECTION WILDERS -------- */

#cards .card{
    max-width: 18rem;
    margin: auto;
    text-align: center;
}






/* ------ FOOTER ------- */
.baspage{
    background-color: grey;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.reseaux ion-icon{
    font-size: 250%;
    color: white;
}

.baspage .btn{
    margin-right: auto;
    margin-left: 1%;
}

@media screen and (max-width: 991px){
    .baspage{
        flex-direction: column;  
    }

    .baspage .btn{
        margin-left: auto;
        margin-bottom: 3%;
    }
}

