/* --- CONFIGURATION GENERALE --- */

body{
    font-family: 'Raleway', sans-serif;
}

/* MENU DE NAVIGATION */

header nav{
    background-color: #f76d6d;
}

header .navbar-toggler{
    border-color:white;
}

header .nav-link{
    color:white;
    border-right: 2px solid white;
    padding:0;
}

header .nav-link:last-child{
    border-right: none;
}

header .navbar-nav{
    margin:auto 2vw auto auto;
}

header .navbar-text{
    color:white;
    margin:0 2vw 0 1vw;
}

header .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 30px;
}

header .navbar-collapse{
    position:relative;
}

/* ICONES SOCIALES */

header .container-icon{
    bottom:1vh;
    right:0;
    position:absolute;
}

header .container-icon ion-icon{
    color:white;
    width:30px;
    height:30px;
    margin:auto 5px;
}

header .container-icon ion-icon:hover{
    color:#272525;
    transition-duration: 0.3s;
}

header .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MEDIA QUERIES MENU DE NAVIGATION */

@media screen and (max-width:991px){
    header .nav-link{
        padding: .5rem 1rem;
        border:none;
    }

    header .navbar-text{
        display:none;
    }

    header .navbar-collapse{
        padding-bottom: 10vh;
    }

    header .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 992px){
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1vw;
        padding-left: 1vw;
    }

    header .container-icon{
        display:none;
    }

    header .navbar-nav .nav-link:hover:first-child {
        border-radius:10px 0 0 10px;
    }

    header .navbar-nav .nav-link:hover:last-child {
        border-radius:0 10px 10px 0;
    }
}

/* -------- SECTION MODALES -------- */
/* Icones des fenêtres modales */
#modal .modal-header ion-icon{
    width:32px;
    height:32px;
    color:rgb(255, 31, 80);
}

#modal .modal-header{
    align-items: center;
    position: relative;
}

#modal .modal-title{
    text-align: center;
}

#modal .modal-icons{
    position: absolute;
    right:0;
    bottom: 0;
}
/* ------------------------------------ */


/* SECTION FORMATEUR */

/* --- FENETRE MODALE FORMATEUR --- */

#formation{
    text-align:center;
    margin-top:77px;
    padding-bottom:20px;
}

#formation h1{
    padding:30px 0 0 0;
}

#formation h1::after{
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 5rem; 
    height: 1px; 
    background:gainsboro;
    margin-left:2vw;
}

#formation h1::before{
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 5rem; 
    height: 1px; 
    background:gainsboro;
    margin-right:2vw;
}

@media screen and (max-width:741px){
    #formation h1::before, #formation h1::after{
        display:none;
    }
}

#formation .card-deck-test{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

#formation .card-deck-test:nth-child(2n){
    margin:30px auto;
}

#formation .card-deck-test .card{
    margin:10px auto;
    max-width:400px;
}

@media screen and (max-width:1240px){

    #formation .card-deck-test .card{
        max-width:100%
    }
}


#formation .card .card-text{
    color:gray;
    font-size:10pt;
}

#formation .card ion-icon{
    color:#272525;
    height:20px;
    width:20px;
}

#formation .card ion-icon:hover{
    color:#f76d6d;
    transition-duration: 0.3s;
}

.card:hover{
    box-shadow:0px 0px 10px 0px gray;
    transition-duration: 0.3s;
}

/* --------------- FENETRE MODAL FORMATEUR ------------- */

#formation .modal-content{
    padding:30px;
}

@media screen and (min-width: 576px){
    #formation .modal-dialog {
        max-width: 80%;
    }
}

/* ------------- CARD PRESENTATION FORMATION ---------------- */

#formation .presentationFormation{
    text-align:left;
}

#formation .presentationFormation .card-title{
    font-size:23pt;
}

#formation .presentationFormation .text-muted{
    font-weight:lighter;
}

#formation .presentationFormation a{
    color: #f76d6d;
    text-decoration:none;
}

#formation .presentationFormation a:hover{
    background-color:#f76d6d;
    color:white;
    transition-duration:0.3s;
}

#formation .card .card-text {
    color:#272525;
    font-size: 12pt;
}


/* SECTION CARDS */

<<<<<<< HEAD

=======
#cards .row{
    justify-content: space-around;
    flex-wrap: wrap;
}
>>>>>>> 41a0297ce559f6644b70b6b91178ef0a33c546da

#cards h1{
    text-align: center;
}

#cards .card {
    max-width: 300px;
    min-width: 299px;
}

#cards .card-body ion-icon{
    font-size: 250%;
    color: black;
}


/* ------ FOOTER ------- */

.baspage{
    background-color:#617d8a;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 2% 0 2% 0;
}

.baspage .reseaux ion-icon{
    height:30px;
    width:30px;
    color:white;
    margin:auto 5px auto 5px;
}

.baspage .reseaux ion-icon:hover{
    color:#272525;
    transition-duration: 0.3s;
}

@media screen and (max-width:991px){
    .baspage{
        flex-direction:column;
        text-align:center;
    }

    .baspage .btn{
        margin:20px 0 20px 0;
    }

    .baspage .reseaux ion-icon{
        height:40px;
        width:40px;
        margin:auto;
    }
}

