/* MENU DE NAVIGATION */

header nav{
    background-color: #f76d6d;
}

header .navbar-toggler{
    border-color:white;
}

header .nav-link{
    color:white;
    border-right: 2px solid white;
    padding:0;
}

header .nav-link:last-child{
    border-right: none;
}

header .navbar-nav{
    margin:auto 2vw auto auto;
}

header .navbar-text{
    color:white;
    margin:0 2vw 0 1vw;
}

header .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 30px;
}

.navbar-collapse{
    position:relative;
}

/* ICONES SOCIALES */
header .container-icon{
    bottom:1vh;
    right:0;
    position:absolute;
}

.container-icon ion-icon{
    color:white;
    width:30px;
    height:30px;
    margin:auto 5px;
}

.container-icon ion-icon:hover{
    color:black;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MEDIA QUERIES MENU DE NAVIGATION */
@media screen and (max-width:991px){
    header .nav-link{
        padding: .5rem 1rem;
        border:none;
    }

    header .navbar-text{
        display:none;
    }

    .navbar-collapse{
        padding-bottom: 10vh;
    }

    header .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1vw;
        padding-left: 1vw;
        }

    header .container-icon{
            display:none;
        }

    .navbar-nav .nav-link:hover:first-child {
        border-radius:10px 0 0 10px;
    }

    .navbar-nav .nav-link:hover:last-child {
        border-radius:0 10px 10px 0;
    }
}

/* SECTION FORMATEUR */
/* --- FENETRE MODALE FORMATEUR --- */

#formation{
    padding:4vh 0 4vh 0;
    display:flex;
    justify-content:space-around;
    align-content:center;
}

#formation .card{
    max-width:400px;
    text-align:center;
}

#formation .card .card-text{
    color:gray;
    font-size:10pt;
}

#formation .card ion-icon{
    color:#353535;
    height:20px;
    width:20px;
}

#formation .card ion-icon:hover{
    color:#f76d6d;
    transition-duration: 0.3s;
}

#formation .card:hover{
    box-shadow:0px 0px 10px 0px gray;
    transition-duration: 0.3s;
}

/* --------------- FENETRE MODAL FORMATEUR ------------- */

#formation .modal-content{
    padding:30px;
}

@media screen and (min-width: 576px){
    #formation .modal-dialog {
        max-width: 80%;
    }
}

/* SECTION CARDS */
#cards{
    display:none;
}


#cards .row{

    justify-content: space-around;
    flex-wrap: wrap;
}


#cards .card {
    max-width: 18rem;
    margin: auto;
}

